<% content_for :title, 'Show Book Details' %>

<div id="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Id:</strong>
    <%= @book.id %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Datecheckout:</strong>
    <%= @book.date_checkout %>
  </p>

  <p>
    <strong>Imageurl:</strong>
    <%= @book.image_URL %>
  </p>

  <p>
    <strong>Firstpageurl:</strong>
    <%= @book.first_page_URL %>
  </p>

  <%= link_to 'Edit', edit_book_path(@book), :class=>'linkText', :style=>'color:#6e86c5' %> |
  <%= link_to 'Return to Catalogue Page', books_path, :class=>'linkText', :style=>'color:#6e86c5' %>

</div>