<% content_for :title, 'Checkout' %>

<body>

<div id="container">
  <h1><%= current_user.first_name %>'s Current Checkouts</h1>
  <br>
  <table style="width:80%">
    <thead>
    <tr>
      <th id="th_cover">Cover Image</th>
      <th id="th_title"><%= sortable 'title' %></th>
      <th id="th_author"><%= sortable 'author' %></th>
      <th id="th_checkout">Suggested Return Date</th>
      <th id="th_checkout">Suggested Return Date</th>
    </tr>
    </thead>

    <tbody>
    <% @user.books.each do |book| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td id="td_img"><%= image_tag(book.image_URL, :alt => 'Image not available') %></td>
          <td id="td_title"><strong><%= book.title %></strong><br><%= 'ISBN: ' + book.isbn %><br>
            <%= 'Publisher: ' + book.publisher %><br><%= book.published_date %></td>
          <td><%= book.author %></td>
          <td><%= book.date_checkout %></td>
          <td class="<%= 'not_available' %>"><%= book.date_checkout+14.days %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  </div>

  <!--div id="scan_button" >
    <#%= button_to 'Return to Catalogue Page', books_path, :class => 'ui button', :method => :get %>
  </div-->

</body>