<% content_for :title, 'Show User' %>

<div id="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= @user.number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Activated:</strong>
    <%= @user.activated %>
  </p>

  <p>
    <strong>Locked:</strong>
    <%= @user.locked %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= @user.time_zone %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= @user.locale %>
  </p>

  <p>
    <strong>Office number:</strong>
    <%= @user.office_number %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= @user.mobile_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @user.title %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= @user.job_title %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= @user.account_number %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</div>