<% content_for :title, 'New Book Add' %>

<div id="container">

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <%= f.label :isbn %><br>
        <%= f.text_field :isbn , id: 'isbn', :placeholder => '10 or 13 digit code (auto-completion on valid Google ISBN)',
                         :required => true, :class => 'text_field'%>
      </div>

  <!--div class="field">
    <#%= f.label :id %><br>
    <#%= f.number_field :id %>
  </div-->
  <div class="field" id="title">
    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => 'Title', :required => true, :class => 'text_field'%>
  </div>
    <div class="field" id="author">
      <%= f.label :author %><br>
      <%= f.text_field :author, :placeholder => 'Author(s)', :class => 'text_field' %>
    </div>
      <div class="field" id="publisher">
        <%= f.label :publisher %><br>
        <%= f.text_field :publisher, :placeholder => 'Publisher', :class => 'text_field'%>
      </div>
    <div class="field" id="published_date">
      <%= f.label :published_date %><br>
      <%= f.text_field :published_date, :placeholder => 'yyyy-mm-dd', :class => 'text_field'%>
    </div>
  <!--div class="field" id="date_checkout">
    <%= f.label :date_checkout %><br>
    <%= f.date_select :date_checkout %>
  </div-->
  <div class="field">
    <%= f.label :image_URL %><br>
    <%= f.text_field :image_URL, :placeholder => 'someImage.jpg', :class => 'text_field'%>
  </div>
  <div class="field">
    <%= f.label :first_page_URL %><br>
    <%= f.text_field :first_page_URL, :placeholder => 'someImage.jpg', :class => 'text_field'%>
  </div>
      <br>
  <div class="actions">
    <%= f.submit  :class => 'ui button'%>
  </div>

<% end %>

  <div id="scan_button6" >
    <%= button_to 'Clear Form', new_book_path, :class => 'ui button', :method => :get, :id => 'clear_button'%>
  </div>

  <div id="scan_button6" >
    <%= button_to 'Cancel', books_path, :class => 'ui button', :method => :get, :id => 'cancel_button'%>
  </div>

</div>

<script type="text/javascript">
  books_form.load();
</script>

