<% content_for :title, 'Create QR Code' %>

<div id="container">

  <h1>Create QR Code</h1>

  <%= form_for :qr_code, url: book_qr_codes_path do |f| %>
      <%= f.label :text %>
      <%= f.text_field :text, value: request.original_url, :class => 'qr_text_field' %>
      <%= f.submit :class => 'ui button', :id => 'qr_button1'%>
  <% end %>

  <div id="qr_button2" >
    <%= button_to 'Return to Catalogue Page', books_path, :class => 'ui button', :method => :get %>
  </div>

</div>
